.loginbackground {
    background-image: url("https://cdn.wallpapersafari.com/1/24/AJMX2T.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.loginbackground2 {
   transform: rotateX(180deg) rotateY(180deg);
}