.sidebaritem {
    &::after {
        content: '';
        width: 5px;
        border-radius: 0 0.2rem 0.2rem 0;
        transform: translateX(0.3rem);
        @apply h-full bg-primary-100 ml-auto z-10;
    }
}