.slider {
    @apply active:cursor-pointer w-full transition-all;
    background: linear-gradient(180deg, #74AAFE -91.31%, #0048bd 42.86%, #B1D0FF 202.24%);
    filter: contrast(0.5);
    border-radius: 0.5rem;
    height: 6px;
    outline: none;
    
    &::-moz-range-thumb {
        //@apply border-[0.4rem] border-white bg-dark-100 outline-0 rounded-full w-[10px] h-[10px];
        @apply bg-white border-transparent outline-0 transition-all;
        border-width: 4px;
        width: 6px;
        height: 6px;
    }

    &:hover {
        @apply contrast-100;
        &::-moz-range-thumb {
            //@apply border-[0.4rem] border-white bg-dark-100 outline-0 rounded-full w-[10px] h-[10px];
            @apply bg-black border-white outline-0 rounded-full;
            border-width: 4px;
            width: 6px;
            height: 6px;
        }
    }
    
    &::-webkit-slider-thumb {
       @apply bg-primary-100;
    }
}